@import "/src/styles/variable";

.temporaryHeader {
  height: 140px;
  background: rgb(230, 230, 255);

  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 30;
}

.innerSec {
  width: 792px;
  padding: 220px 0 110px;
  margin: 0 auto;

  .topBar {
    padding: 0 0 24px;
    border-bottom: 1px solid $Gray3;

    .pageTitle {
      font-size: 32px;
      line-height: 40px;
      font-weight: 700;
      color: #111213;
    }
  }

  .contArea {
    display: flex;
    flex-direction: column;
    gap: 88px;
    padding: 48px 0 0;

    .termCont {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .explainBox {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .key {
          font-size: 18px;
          font-weight: 700;
          line-height: 28px;
          color: $Primary1;
        }

        .value {
          font-size: 14px;
          line-height: 22px;
          color: $Black1;
        }
      }

      .termList {
        display: flex;
        flex-direction: column;
        gap: 12px;

        & > li {
          .titleBox {
            display: flex;
            align-items: center;
            gap: 4px;
            height: 48px;

            .title {
              font-weight: 700;
              line-height: 24px;
              color: $Primary1;
            }
          }

          .detailList {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 0 0 0 16px;

            li {
              list-style: disc;
              font-size: 13px;
              line-height: 20px;
              color: $Black2;
            }
          }
        }
      }
    }

    .agreeBtn {
      height: 52px;
      font-weight: 700;
      color: $White1;
      background: $Primary1;
    }
  }
}

.temporaryFooter {
  height: 252px;
  background: $Primary1;
  opacity: 0.1;
}
