@import "/src/styles/variable";

.successPopupContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 16px 16px 16px;

  .contentSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    text-align: center;
  }

  .buttonSection {
    display: flex;

    button {
      flex: 1;
      padding: 14px 16px;
      border-radius: 8px;

      &.confirmBtn {
        color: $White1;
        background: $Primary1;
      }
    }
  }
}
