@import "../../../styles/colors.scss";
@import "../../../styles/variable";

#duplicateSocialAccount {
  .title {
    font-size: 24px;
    font-weight: 700;
    color: $PrimaryBG1;
  }
  p {
    color: $Black2;
    margin-top: 24px;
    font-size: 16px;
  }
  .signInBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $Black2;
    gap: 163px;
    margin-top: 54px;
    margin-bottom: 256px;
    .logoWrap {
      display: flex;
      align-items: center;
      span {
        font-weight: 700;
        margin-left: 12px;
      }
    }
    button {
      padding: 8px 12px;
      width: 99px;
      height: 40px;
    }
  }
}
