@import "/src/styles/variable";

.settlementPopupContainer {
  display: flex;
  flex-direction: column;

  padding-top: 24px;

  .description {
    @extend .h3;
    @extend .bold;
    color: $Black3;
  }
  .subDescription {
    @extend .p1;
    color: $Gray1;
  }

  .mt12 {
    margin-top: 12px;
  }
  .mb24 {
    margin-bottom: 24px;
  }

  .textWrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid $Gray2;
    @extend .p1;
    color: $Black3;
    width: 100%;

    ::after {
      content: "P";
    }

    ::placeholder {
      color: $Gray3;
    }
  }

  .buttonWrapper {
    display: flex;
    gap: 12px;
  }
  .flexibleLine {
    padding: 4px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 1 0 0;
    border: 1px solid $Gray3;
    border-radius: 12px;

    @extend .p2;
    color: $Black2;

    &:hover {
      border: 1px solid $Gray1;
      background-color: $Primary5;
    }
  }
}
