@import "/src/styles/variable";
.popupContainer {
  padding: 32px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  .title {
    @extend .h3;
    @extend .bold;
    color: $Black3;
    text-align: center;
  }
  .description {
    text-align: center;
    color: #474747;
    @extend .p2;
  }
}
