@import "/src/styles/variable";

.termIncome {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filterCont {
      display: flex;
      align-items: center;
      gap: 13px;

      .key {
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
      }

      .pickerBox {
        display: flex;
        align-items: center;
        width: 160px;
        height: 44px;
        border: 1px solid $Gray3;
        border-radius: 8px;

        input {
          padding: 0 10px;
          font-family: pretendard;
        }
      }

      .slash {
        font-size: 14px;
        color: $Gray3;
      }

      .submitBtn {
        display: flex;
        align-items: center;
        height: 44px;
        padding: 0 16px;
        border: 1px solid $Gray3;
        border-radius: 8px;
      }
    }

    .excelBtn {
      display: flex;
      align-items: center;
      height: 44px;
      padding: 0 16px;
      border: 1px solid $Gray3;
      border-radius: 8px;
    }
  }

  .dataList {
    min-height: 200px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 26px 0;
      font-weight: 700;
      border-bottom: 1px solid #ededed;

      .amount {
        font-size: 18px;
      }
    }
  }
}
