@import "/src/styles/variable";

.withdrawPopup {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 622px;
  padding: 28px 36px 40px;
  background: $White1;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 60;
  transform: translate(-50%, -50%);

  .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .blank {
      width: 24px;
    }

    .popupTitle {
      font-size: 24px;
      font-weight: 700;
    }
  }

  .contArea {
    form {
      display: flex;
      flex-direction: column;
      gap: 54px;

      .inputList {
        display: flex;
        flex-direction: column;
        gap: 24px;

        li {
          display: flex;
          flex-direction: column;
          gap: 8px;
          .label {
            padding-top: 16px;
            @extend .p2;
            color: $Gray1;
          }

          .subDescription {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #777777;
            @extend .p2;

            svg {
              width: 18px;
              height: 18px;
              g {
                fill: $Black4;
              }
            }
          }

          .inputBox {
            padding: 8px 12px;
            border-radius: 8px;

            border: 1px solid $Gray2;
            background-color: white;

            .birthdate {
              max-width: 100px;
            }
            .gendercode {
              max-width: 14px;
            }
            input {
              padding: 4px 0;
              @extend .p1;
              color: $Black1;
              width: 100%;

              ::placeholder {
                color: $Gray1;
              }
              &:disabled {
                color: $Black2;
              }
              &.disabled {
                color: $Black2;
              }
            }

            .dot {
              color: #202020;
            }
            .dotDisabled {
              color: $Black2;
            }
            .dash {
              color: #b6b6b6;
              margin: 0 10px;
            }
          }
          .suffix {
            display: flex;
            align-items: center;
          }
          .suffix::after {
            content: "원";
          }
          .selectBox {
            padding: 8px 12px;
            border-radius: 8px;
            border: 1px solid $Gray2;
            background-color: white;

            display: flex;
            gap: 10px;

            select {
              @extend .p1;
              color: $Black1;
              border: none;
              appearance: none;
              background: url("/assets/images/arrow_down.png") 100% center no-repeat;
              background-size: 16px;
              padding-right: 24px;
            }

            input {
              padding: 4px 0;
              @extend .p1;
              color: $Black1;
              flex: 1;

              ::placeholder {
                color: $Gray1;
              }
              &.disabled {
                color: $Black2;
              }
            }
          }

          .disabled {
            background-color: $Primary5;
            color: $Black2;
          }
        }
      }
      .submitForm {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
      .checkbox {
        .hiddenCheckbox {
          display: none;
        }
        label {
          position: relative;
          padding: 12px 0 12px 28px;
          cursor: pointer;
          color: $Black2;
          @extend .p1;
        }
        label::before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 14px;
          width: 16px;
          height: 16px;
          background: url("/assets/icons/Unchecked.svg") no-repeat;
          margin-right: 8px;
        }

        .hiddenCheckbox:checked + label::before {
          background: url("/assets/icons/CheckCircleSmall.svg") no-repeat;
        }
      }
    }
  }
}
