@import "/src/styles/variable";

.withdrawPopup {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 622px;
  padding: 28px 36px 40px;
  background: $White1;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 60;
  transform: translate(-50%, -50%);

  .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .blank {
      width: 24px;
    }

    .popupTitle {
      font-size: 24px;
      font-weight: 700;
    }
  }

  .contArea {
    form {
      display: flex;
      flex-direction: column;
      gap: 54px;

      .inputList {
        display: flex;
        flex-direction: column;
        gap: 24px;

        li {
          .key {
            padding: 16px 0 8px;
            font-size: 14px;
            line-height: 22px;
            color: $Gray1;
          }

          .valueBox {
            position: relative;

            .inputBox {
              display: flex;
              align-items: center;
              height: 48px;
              background: $Primary5;
              border: 1px solid $Gray1;
              border-radius: 8px;

              input {
                flex: 1;
                height: 100%;
                padding: 0 12px;

                &.hidden {
                  width: 0;
                  height: 0;
                  padding: 0;
                }
              }

              .value {
                flex: 1;
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0 12px;
              }
            }

            .selBox {
              display: flex;
              align-items: center;
              width: 100%;
              height: 48px;
              padding: 0 12px;
              border: 1px solid $Gray1;
              border-radius: 8px;

              .value {
                flex: 1;
                text-align: start;
              }

              svg {
                width: 16px;
              }
            }
          }
        }
      }

      .submitBtn {
        height: 52px;
        font-weight: 700;
        color: $White1;
        background: $Primary1;
        border-radius: 8px;
      }
    }
  }
}
