@import "/src/styles/variable";
@import "/src/styles/colors.scss";

#inquiry {
  padding: 200px 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // h2 {
  //   font-size: 32px;
  //   font-weight: 700;
  //   color: $Black3;
  //   padding-bottom: 24px;
  // }
  // .title,
  // .content {
  //   max-width: 793px;
  //   width: 100%;
  // }
  // .title {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: baseline;
  //   border-bottom: 1px solid #f3f3f3;
  //   .tabLink {
  //     display: flex;
  //     gap: 30px;
  //   }
  // }
}
