@import "/src/styles/variable";

.errorMsgPopup {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 312px;
  padding: 32px 16px 16px;
  background: #fff;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 60;
  transform: translate(-50%, -50%);

  .msgBox {
    .msg {
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      color: $Black1;
      padding-bottom: 8px;

      span {
        display: block;
        font-weight: 400;
        white-space: nowrap;
        font-size: 16px;
      }
    }

    .subMsg {
      text-align: center;
      color: $Gray1;
    }
  }

  .confirmBtn {
    height: 52px;
    font-weight: 700;
    color: $White1;
    background: $Primary1;
    border-radius: 8px;
  }
}
