@import "/src/styles/variable";

.errorMsgPopup {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 312px;
  padding: 32px 16px 16px;
  background: #fff;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 60;
  transform: translate(-50%, -50%);

  .msgBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .msg {
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      color: $Black1;
      padding-bottom: 8px;
    }
  }
}

.loadingImg {
  animation: rotate_image 1s linear infinite;
  transform-origin: 50% 50%;
  -webkit-animation: rotate_image 1s linear infinite;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
