@import "/src/styles/variable";

.selImgPopup {
  width: 312px;
  background: $White1;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 60;
  transform: translate(-50%, -50%);

  .btnList {
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      cursor: pointer;

      &.red {
        p {
          color: $Red1;
        }
      }

      p {
        color: $Black2;
        font-weight: 700;
      }
    }
  }
}
