@import "/src/styles/variable";

.textPopup {
  display: flex;
  flex-direction: column;
  gap: 24px;
  //   width: 312px;
  padding: 28px;
  background: $White1;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 60;
  transform: translate(-50%, -50%);
  max-width: 588px;
  max-height: 638px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h2 {
    font-size: 24px;
    font-weight: 700;
  }

  .iconX {
    cursor: pointer;
  }
  .content {
    font-size: 16px;

    // text-align: center;
    color: $Black1;
    overflow-y: scroll;
    white-space: pre-wrap;
    span {
      display: block;
    }
  }
}
