@import "/src/styles/variable";

.termIncome {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;

    .filterCont {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 13px;

      .key {
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
      }

      input {
        flex: 1;
        height: 40px;
        padding: 0 10px;
        border: 1px solid $Gray1;
        border-radius: 8px;
      }

      .submitBtn {
        display: flex;
        align-items: center;
        height: 44px;
        padding: 0 16px;
        border: 1px solid $Gray3;
        border-radius: 8px;
      }
    }

    .excelBtn {
      display: flex;
      align-items: center;
      height: 44px;
      padding: 0 16px;
      border: 1px solid $Gray3;
      border-radius: 8px;
    }

    .sortBtn {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .countBar {
    display: flex;
    justify-content: flex-end;

    .count {
      color: $Black2;
    }
  }

  .dataList {
    min-height: 200px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0;

      border-bottom: 1px solid #ededed;

      .leftBox {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .title {
          font-size: 18px;
          font-weight: 700;
          line-height: 28px;
        }

        .infoBar {
          display: flex;
          align-items: center;
          font-size: 14px;
          line-height: 22px;
          color: $Gray1;

          .category {
            color: $Black2;
          }
        }
      }

      .amount {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  .noData {
    @extend .p2;
    color: $PrimaryBG1;
    text-align: center;
    flex: 1;
  }
}
