@import "/src/styles/variable";

.eventCategoryContainer {
  .topBar {
    display: flex;
    align-items: center;

    .filterCont {
      display: flex;
      align-items: center;
      gap: 28px;

      .key {
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
      }
    }

    .dateLayout {
      display: flex;
      align-items: center;

      span {
        display: flex;
        cursor: pointer;
      }
      span:last-child {
        transform: rotate(180deg);
      }
      p {
        margin-top: 1px;
        padding: 0 12px;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 46px;

    .listItem {
      display: grid;
      grid-template-columns: minmax(60px, 100px) minmax(100px, 1fr) minmax(100px, 140px);
      align-items: center;
      gap: 16px;
    }

    .dateText {
      @extend .p3;
      color: $Black2;
    }
    .mainText {
      @extend .p1;
      @extend .bold;
      color: $Black3;
    }
    .subText {
      @extend .h3;
      @extend .bold;
      color: $Red1;
      text-align: right;
    }

    .noData {
      @extend .p2;
      color: $PrimaryBG1;
      text-align: center;
      flex: 1;
    }
  }
}
