@import "/src/styles/variable";

.containedBtn {
  @extend .p2;
  @extend .bold;
  background-color: $Primary1;
  color: $White1;
  border-radius: 8px;
  padding: 14px 16px;
  min-width: 86px;
  height: 100%;
  cursor: pointer;
  &:disabled {
    background-color: $Gray3;
  }
}
