.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 48px);
  background-color: #fbfbfd;

  .contentBox {
    padding: 88px 100px 48px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(87, 139, 142, 0.06);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .imgWrap {
      width: 200px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 80px;
    }

    h2,
    p {
      text-align: center;
    }
    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 24px;
      line-height: 44px;
    }
    p {
      font-size: 18px;
      line-height: 24px;
      white-space: nowrap;
      margin-bottom: 32px;
    }

    .login-button {
      cursor: pointer;
    }

    .btnGroup {
      display: flex;
      justify-content: center;
      gap: 24px;
    }

    .orText {
      margin: 24px 0;
      color: #43546a;
      display: flex;
      justify-content: center;
    }
  }
}
