/* 전역적으로 사용되는 색상 정의 */
$Primary1: #2965ff;
$Primary2: #1d50d1;
$Primary3: #1d50d1;
$Primary4: #f8faff;
$Primary5: #fbfbfd;
$PrimaryBG1: #30333a;
$PrimaryBG2: #1a1b1d;

$White1: #ffffff;
$White2: #ececec;

$Black1: #1a1b1d;
$Black2: #555555;
$Black3: #111111;
$Black4: #000000;

$Gray1: #9f9f9f;
$Gray2: #f3f3f3;
$Gray3: #d9d9d9;

$Red1: #ff3f25;
$Red2: #ff7a00;

$WhiteGradient: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0) 0%,
  #ffffff 53.7%
);
