/* 전역적으로 사용되는 색상 정의 */
$Primary1: #2965ff;
$Primary2: #1d50d1;
$Primary3: #2965ff;
$Primary4: #f8faff;
$Primary5: #fbfbfd;
$PrimaryBG1: #30333a;
$PrimaryBG2: #1a1b1d;

$White1: #ffffff;
$White2: #ececec;

$Black1: #1a1b1d;
$Black2: #555555;
$Black3: #111111;
$Black4: #000000;

$Gray1: #9f9f9f;
$Gray2: #f3f3f3;
$Gray3: #d9d9d9;

$Red1: #ff3f25;
$Red2: #ff7a00;

$WhiteGradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 53.7%);

$config-theme: (
  "primary1": $Primary1,
  "primary2": $Primary2,
  "primary3": $Primary3,
  "primary4": $Primary4,
  "primary5": $Primary5,
  "primary-bg1": $PrimaryBG1,
  "primary-bg2": $PrimaryBG2,

  "white1": $White1,
  "white2": $White2,

  "black1": $Black1,
  "black2": $Black2,
  "black3": $Black3,
  "black4": $Black4,

  "gray1": $Gray1,
  "gray2": $Gray2,
  "gray3": $Gray3,

  "red1": $Red1,
  "red2": $Red2,
);

@each $name, $color in $config-theme {
  .color-#{$name} {
    color: $color;
  }
  .bg-#{$name} {
    background-color: $color;
  }
}
