@import "_variable";

.customPickerInput {
  height: 100%;
}

.customPickerPopper {
  .react-datepicker {
    margin: 10px 0 0;
    border: 1px solid $Primary1;
    border-radius: 8px;

    .react-datepicker__triangle {
      display: none;
    }

    .react-datepicker__month-container {
      display: flex;
      flex-direction: column;

      .react-datepicker__header {
        height: 90px;
        padding: 0;
        background: transparent;
        border-bottom: none;

        .pickerHeader {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          padding: 24px;
          border: none;

          p {
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
          }

          button {
            display: flex;
            align-items: center;
          }
        }

        .react-datepicker__day-names {
          display: flex;
          gap: 16px;
          align-items: center;
          padding: 0px 24px;

          .react-datepicker__day-name {
            width: 32px;
            margin: 0;
            font-size: 12px;
            font-weight: 700;
            line-height: 14px;
            color: #999;

            &:nth-of-type(1) {
              color: $Red1;
            }
          }
        }
      }
    }

    .react-datepicker__month {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 12px 24px 20px;
      margin: 0;

      .react-datepicker__week {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 28px;

        .react-datepicker__day {
          width: 28px;
          height: 28px;
          margin: 0;
          border-radius: 50%;

          &:nth-child(1) {
            color: $Red1;
          }

          &.react-datepicker__day--selected {
            color: $White1;
            font-weight: 700;
            background: $Primary1;
          }

          &.react-datepicker__day--outside-month {
            visibility: hidden;
          }
        }
      }
    }
  }
}
