@import "reset";
@import "colors";
@import "_variable";
@import "customDatePicker";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: pretendard;
  font-size: 16px;
  color: $Black1;
  line-height: 1.4;
  // overflow: hidden;
  height: 100%;
  min-width: 1200px;
}

input,
textarea {
  font-size: inherit;
  color: inherit;
  background: unset;
  outline: none;
  user-select: auto;
  border: unset;

  &::placeholder {
    color: $Gray1;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

*::-webkit-outer-spin-button,
*::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.commonSelBox {
  position: relative;
}

@font-face {
  font-family: pretendard;
  font-weight: 400;
  src: url("../../public/assets/fonts/Pretendard-Regular.woff2");
}

@font-face {
  font-family: pretendard;
  font-weight: 700;
  src: url("../../public/assets/fonts/Pretendard-Bold.woff2");
}

.ql-editor {
  .thumbBox {
    display: inline-block;
    position: relative;

    &::after {
      content: "대표";
      height: 22px;
      padding: 0 12px;
      color: $White1;
      background: $Primary1;
      border-radius: 12px;
      top: 16px;
      left: 16px;
      position: absolute;
      font-style: normal;
    }
  }
}
