@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/SpoqaHanSansNeo-Regular.woff") format("woff"),
    url("/fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/SpoqaHanSansNeo-Medium.woff") format("woff"),
    url("/fonts/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/SpoqaHanSansNeo-Bold.woff") format("woff"),
    url("/fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}

:root {
  font-family: SpoqaHanSansNeo, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin-top: 48px;
}

.radix-themes {
  --default-font-family: SpoqaHanSansNeo;
  --heading-font-family: SpoqaHanSansNeo;
  --code-font-family: SpoqaHanSansNeo;
  --strong-font-family: SpoqaHanSansNeo;
  --em-font-family: SpoqaHanSansNeo;
  --quote-font-family: SpoqaHanSansNeo;
}

.radix-themes {
  /* * * * * * * * * * * * * * * * * * * */
  /*                                     */
  /*         Primary-Purple color        */
  /*                                     */
  /* * * * * * * * * * * * * * * * * * * */
  --purple-005: #f3f4ff;
  --purple-010: #e9eaff;
  --purple-020: #c8cbfd;
  --purple-030: #9095ff;
  --purple-040: #676dff;
  --purple-050: #4b51ed;
  --purple-060: #262ca3;
  --purple-070: #161c80;
  --purple-080: #0b0e44;
  --purple-090: #03052f;

  --purple-a005: rgba(243, 244, 255, 0.05);
  --purple-a010: rgba(233, 234, 255, 0.1);
  --purple-a020: rgba(200, 203, 253, 0.15);
  --purple-a030: rgba(144, 149, 255, 0.2);
  --purple-a040: rgba(103, 109, 255, 0.3);
  --purple-a050: rgba(75, 81, 237, 0.4);
  --purple-a060: rgba(38, 44, 163, 0.5);
  --purple-a070: rgba(22, 28, 128, 0.6);
  --purple-a080: rgba(11, 14, 68, 0.7);
  --purple-a090: rgba(3, 5, 47, 0.8);

  /* * * * * * * * * * * * * * * * * * * */
  /*                                     */
  /*             Gray color              */
  /*                                     */
  /* * * * * * * * * * * * * * * * * * * */
  --gray-010: #fafafa;
  --gray-020: #e3e7eb;
  --gray-030: #b2bbc6;
  --gray-040: #788799;
  --gray-050: #43546a;
  --gray-060: #2c3e54;
  --gray-070: #233142;
  --gray-080: #1b232d;
  --gray-090: #10161c;

  --gray-a010: rgba(250, 250, 250, 0.1);
  --gray-a020: rgba(227, 231, 235, 0.15);
  --gray-a030: rgba(178, 187, 198, 0.2);
  --gray-a040: rgba(120, 135, 153, 0.3);
  --gray-a050: rgba(67, 84, 106, 0.4);
  --gray-a060: rgba(44, 62, 84, 0.5);
  --gray-a070: rgba(35, 49, 66, 0.6);
  --gray-a080: rgba(27, 35, 45, 0.7);
  --gray-a090: rgba(16, 22, 28, 0.8);

  /* * * * * * * * * * * * * * * * * * * */
  /*                                     */
  /*          Point-Red color            */
  /*                                     */
  /* * * * * * * * * * * * * * * * * * * */
  --red-010: #fff6f5;
  --red-020: #ffdddb;
  --red-030: #ff8d7e;
  --red-040: #fa4f38;
  --red-050: #f1351c;
  --red-060: #d82108;
  --red-070: #a11907;
  --red-080: #6d0a03;

  --red-a010: rgba(255, 246, 245, 0.1);
  --red-a020: rgba(255, 221, 219, 0.15);
  --red-a030: rgba(255, 141, 126, 0.2);
  --red-a040: rgba(250, 79, 56, 0.3);
  --red-a050: rgba(241, 53, 28, 0.4);
  --red-a060: rgba(216, 33, 8, 0.5);
  --red-a070: rgba(161, 25, 7, 0.6);
  --red-a080: rgba(109, 10, 3, 0.7);

  /* * * * * * * * * * * * * * * * * * * */
  /*                                     */
  /*         Point-Green color           */
  /*                                     */
  /* * * * * * * * * * * * * * * * * * * */
  --green-010: #e1f8eb;
  --green-020: #bdead1;
  --green-030: #8ce9b7;
  --green-040: #10d66b;
  --green-050: #00b352;
  --green-060: #068a43;
  --green-070: #055c2d;
  --green-080: #053d1c;

  --green-a010: rgba(225, 248, 235, 0.1);
  --green-a020: rgba(189, 234, 209, 0.15);
  --green-a030: rgba(140, 233, 183, 0.2);
  --green-a040: rgba(16, 214, 107, 0.3);
  --green-a050: rgba(0, 179, 82, 0.4);
  --green-a060: rgba(6, 138, 67, 0.5);
  --green-a070: rgba(5, 92, 45, 0.6);
  --green-a080: rgba(5, 61, 28, 0.7);

  /* * * * * * * * * * * * * * * * * * * */
  /*                                     */
  /*              Cursors                */
  /*                                     */
  /* * * * * * * * * * * * * * * * * * * */
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}

:is(.dark, .dark-theme),
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  /* * * * * * * * * * * * * * * * * * * */
  /*                                     */
  /*         Primary-Purple color        */
  /*                                     */
  /* * * * * * * * * * * * * * * * * * * */
  --purple-005: #191c59;
  --purple-010: #25297d;
  --purple-020: #3c41b3;
  --purple-030: #545bff;
  --purple-040: #7176ff;
  --purple-050: #7176ff;
  --purple-060: #9095ff;
  --purple-070: #bec1ff;
  --purple-080: #e2e4ff;
  --purple-090: #eeefff;

  --purple-a005: rgba(25, 28, 89, 0.05);
  --purple-a010: rgba(37, 41, 125, 0.1);
  --purple-a020: rgba(60, 65, 179, 0.15);
  --purple-a030: rgba(84, 91, 255, 0.2);
  --purple-a040: rgba(113, 118, 255, 0.3);
  --purple-a050: rgba(113, 118, 255, 0.4);
  --purple-a060: rgba(144, 149, 255, 0.5);
  --purple-a070: rgba(190, 193, 255, 0.6);
  --purple-a080: rgba(226, 228, 255, 0.7);
  --purple-a090: rgba(238, 239, 255, 0.8);

  /* * * * * * * * * * * * * * * * * * * */
  /*                                     */
  /*             Gray color              */
  /*                                     */
  /* * * * * * * * * * * * * * * * * * * */
  --gray-010: #191f26;
  --gray-020: #1d242d;
  --gray-030: #303c4a;
  --gray-040: #455568;
  --gray-050: #61738a;
  --gray-060: #91a1b5;
  --gray-070: #bfccdc;
  --gray-080: #e3e7eb;
  --gray-090: #fafafa;

  --gray-a010: rgba(25, 31, 38, 0.1);
  --gray-a020: rgba(29, 36, 45, 0.15);
  --gray-a030: rgba(48, 60, 74, 0.2);
  --gray-a040: rgba(69, 85, 104, 0.3);
  --gray-a050: rgba(97, 115, 138, 0.4);
  --gray-a060: rgba(145, 161, 181, 0.5);
  --gray-a070: rgba(191, 204, 220, 0.6);
  --gray-a080: rgba(227, 231, 235, 0.7);
  --gray-a090: rgba(250, 250, 250, 0.8);

  /* * * * * * * * * * * * * * * * * * * */
  /*                                     */
  /*          Point-Red color            */
  /*                                     */
  /* * * * * * * * * * * * * * * * * * * */
  --red-010: #6d0a03;
  --red-020: #961209;
  --red-030: #c12510;
  --red-040: #f94b33;
  --red-050: #ff7b69;
  --red-060: #ffa59f;
  --red-070: #ffdddb;
  --red-080: #fff6f5;

  --red-a010: rgba(109, 10, 3, 0.1);
  --red-a020: rgba(150, 18, 9, 0.15);
  --red-a030: rgba(193, 37, 16, 0.2);
  --red-a040: rgba(249, 75, 51, 0.3);
  --red-a050: rgba(255, 123, 105, 0.4);
  --red-a060: rgba(255, 165, 159, 0.5);
  --red-a070: rgba(255, 221, 219, 0.6);
  --red-a080: rgba(255, 246, 245, 0.7);

  /* * * * * * * * * * * * * * * * * * * */
  /*                                     */
  /*         Point-Green color           */
  /*                                     */
  /* * * * * * * * * * * * * * * * * * * */
  --green-010: #07411e;
  --green-020: #0d6a33;
  --green-030: #09a350;
  --green-040: #0cdb6b;
  --green-050: #80edb2;
  --green-060: #b4e9cc;
  --green-070: #ddf4e8;
  --green-080: #f0fdf6;

  --green-a010: rgba(7, 65, 30, 0.1);
  --green-a020: rgba(13, 106, 51, 0.15);
  --green-a030: rgba(9, 163, 80, 0.2);
  --green-a040: rgba(12, 219, 107, 0.3);
  --green-a050: rgba(128, 237, 178, 0.4);
  --green-a060: rgba(180, 233, 204, 0.5);
  --green-a070: rgba(221, 244, 232, 0.6);
  --green-a080: rgba(240, 253, 246, 0.7);
}
