.alertCount {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #ff3f25;
  border-radius: 50%;
  color: #fff;
  top: 0px;
  right: -2px;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}
