@import "/src/styles/variable";

.mypageWrite {
  max-width: 1200px;
  padding: 168px 0 48px;
  margin: 0 auto;

  .postSec {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: 40px 0 0;

    .toolBar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .leftCont {
        .categoryList {
          display: flex;
          align-items: center;
          gap: 20px;

          li {
            display: flex;
            align-items: center;
            height: 52px;
            padding: 0 4px;
            border-bottom: 2px solid transparent;
            cursor: pointer;

            &.on {
              border-color: $Primary1;

              p {
                font-weight: 700;
                color: $Primary1;
              }
            }

            p {
              color: $Black2;
            }
          }
        }
      }

      .rightCont {
        display: flex;
        align-items: center;
        gap: 28px;

        button {
          display: flex;
          align-items: center;
          gap: 8px;
          color: $Black2;
        }
      }
    }
  }
}
