@import "/src/styles/variable";

.selCategoryPopup {
  overflow: hidden;
  background: $White1;
  border: 1px solid $Primary4;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  top: 64px;
  left: 370px;
  position: absolute;
  z-index: 60;

  .dataList {
    width: 40px;
    overflow-y: scroll;

    li {
      display: flex;
      align-items: center;
      color: $Black2;
      padding: 4px;
      cursor: pointer;

      &:hover {
        font-weight: 700;
        color: $Primary2;
        background: $Primary4;
      }
    }
  }
}
