@import "/src/styles/variable";

.colorMenuContainer {
  display: none;
  position: absolute;
  // right: 0px;
  // display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 365px;
  padding: 20px 20px;
  gap: 10px 18px;
  background-color: $White1;
  border: 1px solid $Gray2;

  button {
    line-height: 0;
    margin-right: 0 !important;
  }

  .colorCricle {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid $Gray2;
    background-color: red;
    cursor: pointer;
  }
}
