@import "/src/styles/variable";

.recentTagPopup {
  overflow: hidden;
  background: $White1;
  border: 1px solid $Primary4;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  bottom: 24px;
  left: 0;
  position: absolute;
  z-index: 60;

  .dataList {
    width: 212px;
    overflow-y: scroll;

    li {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 48px;
      padding: 0 24px;
      color: $Black2;
      cursor: pointer;

      &:hover {
        font-weight: 700;
        background: $Primary4;

        .tag {
          color: $Primary2;
        }
      }

      .tag {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .count {
        font-size: 12px;
        color: $Gray1;
        white-space: nowrap;
      }
    }
  }
}
