@import "../../../styles/colors.scss";
@import "../../../styles/variable.scss";

#signIn {
  .contentBox {
    height: 812px;
  }
  .imgWrap {
    display: flex;
    justify-content: center;
  }
  h2,
  p {
    text-align: center;
  }
  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 40px;
  }
  p {
    font-size: 18px;
    white-space: nowrap;
  }
  .badge {
    margin: 66px 0 72px;
  }

  .kakao,
  .google,
  .apple {
    cursor: pointer;
  }
  .or {
    margin: 24px 0;
    color: $Black2;
    display: flex;
    justify-content: center;
  }
  .logoWrap {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}
