#termsOfService {
  h2 {
    font-weight: 700;
  }
  .ul {
    margin-bottom: 0;
    width: 100%;
    li {
      p {
        font-size: 15px;
        white-space: wrap;
        line-height: 1.8;
        letter-spacing: -1px;
      }
    }
  }
}
