@import "/src/styles/variable";

.asset {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 176px 0 40px;

  .contSec {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 785px;

    .thumbArea {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 24px;
      background: $Primary4;
      border-radius: 12px;

      .assetList {
        display: flex;
        gap: 54px;

        li {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 6px;
          font-weight: 700;

          .key {
            color: $Black2;
            display: flex;
            align-items: center;
            gap: 4px;
            svg path {
              fill: $Black2;
            }
            svg rect {
              fill: $Black2;
            }
            a {
              display: flex;
            }
          }
          .tooltip {
            background-color: $Black2;
            border-radius: 4px;
          }
          .tooltipContent {
            text-align: center;
            font-size: 12px;
            line-height: 19px;
            font-weight: 400;
            color: $White1;
          }

          .value {
            font-size: 24px;
            line-height: 34px;
            color: $Primary1;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .subText {
            color: $Black2;

            font-size: 14px;
            font-weight: 400;
            line-height: 22px;

            display: flex;
            align-items: center;
            cursor: pointer;
            svg {
              fill: $Black2;
              width: 14px;
              height: 14px;
            }
            path {
              fill: $Black2;
            }
          }
        }
      }

      .actionCont {
        display: flex;
        align-items: flex-end;
        gap: 54px;

        .actionBox {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 12px;

          .limit {
            font-size: 12px;
            line-height: 18px;
            color: $Gray1;
          }

          .btnBar {
            display: flex;
            gap: 6px;

            button {
              width: 335px;
              height: 48px;
              border-radius: 8px;
              font-size: 14px;
              font-weight: 700;
              color: $White1;

              &.activeWithdrawBtn {
                background: $Primary1;
              }
              &.deActiveWithdrawBtn {
                background: $Black2;
              }
            }
          }
        }

        .accountBox {
          flex: 1;

          .accountBtn {
            display: flex;
            align-items: center;
            gap: 10px;
            height: 28px;
            padding: 0 10px;
            background: $White1;
            border-radius: 30px;

            p {
              font-size: 12px;
              color: $Black2;

              strong {
                margin-right: 6px;
                font-weight: 700;
              }
            }

            svg {
              path {
                fill: $Black2;
              }
            }
          }
        }
      }
    }

    .categoryList {
      display: flex;
      gap: 28px;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 4px;
        height: 52px;
        border-bottom: 2px solid transparent;
        cursor: pointer;

        &.on {
          border-color: $Primary1;

          p {
            font-weight: 700;
            color: $Primary1;
          }
        }

        p {
          color: $Black2;
        }
      }
    }
  }
}
