@import "/src/styles/variable";

.asset {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;

  .contSec {
    width: 785px;
    height: 100px;
    background: $Primary4;
  }
}
