@import "/src/styles/variable";

.chargeMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 792px;
  padding: 208px 0 40px;
  margin: 0 auto;

  .pageTitle {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
  }

  .topBar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 30px 0 0;

    .pointBox {
      display: flex;
      align-items: center;
      gap: 16px;

      .key {
        color: $Gray1;
      }

      .value {
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
      }
    }
  }

  .chargeList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 28px 0 0;

    li {
      display: flex;
      align-items: center;
      padding: 16px;
      font-size: 18px;
      font-weight: 700;
      border-radius: 16px;
      border: 1px solid $Gray2;

      &:hover {
        background: $Primary4;

        .rightBox {
          .chargeBtn {
            background: $Primary2;
          }
        }
      }

      .leftBox {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 4px;

        .amount {
          color: $Black2;
        }
      }

      .rightBox {
        .chargeBtn {
          display: flex;
          align-items: center;
          height: 44px;
          padding: 0 16px;
          background: $Primary1;
          border-radius: 8px;

          p {
            color: $White1;
          }
        }
      }
    }
  }
}
