@import "/src/styles/variable";

.mypageRead {
  max-width: 1200px;
  padding: 168px 0 48px;
  margin: 0 auto;

  .postSec {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 40px 0 0;

    .toolBar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .leftCont {
        .categoryList {
          display: flex;
          align-items: center;
          gap: 20px;

          li {
            display: flex;
            align-items: center;
            height: 52px;
            padding: 0 4px;
            border-bottom: 2px solid transparent;
            cursor: pointer;

            &.on {
              border-color: $Primary1;

              p {
                font-weight: 700;
                color: $Primary1;
              }
            }

            p {
              color: $Black2;
            }
          }
        }
      }

      .rightCont {
        display: flex;
        align-items: center;
        gap: 28px;

        button {
          display: flex;
          align-items: center;
          gap: 8px;
          color: $Black2;
        }
      }
    }

    .filterArea {
      .categoryList {
        display: flex;
        align-items: center;
        gap: 4px;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 28px;
          padding: 0 12px;
          border-radius: 12px;
          border: 1px solid $Gray3;
          background: $White1;
          cursor: pointer;

          &.on {
            background: $Primary1;
            border-color: $Primary1;

            p {
              font-weight: 700px;
              color: $White1;
            }
          }

          p {
            font-size: 12px;
            color: $Black2;
          }
        }
      }
    }
  }
}
