@import "/src/styles/variable";

.innerSec {
  padding: 160px 0 0;
  height: 100vh;
  background: $Gray2;
  position: relative;

  .contArea {
    width: 996px;
    height: 100%;
    padding: 70px 0 98px;
    overflow-y: scroll;
    margin: 0 auto;
    background: #fff;

    .editCont {
      width: 792px;
      margin: 0 auto;

      .topBar {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 24px 0;
        border-bottom: 1px solid $Gray3;

        .categoryBox {
          position: relative;

          .selBtn {
            display: flex;
            align-items: center;
            width: 100%;
            height: 24px;

            input {
              flex: 1;
              height: 100%;
            }
          }
        }

        .titleBox {
          height: 34px;

          input {
            width: 100%;
            font-size: 24px;
            font-weight: 700;
          }
        }
      }

      .quill {
        padding: 44px 0 0;

        & > div {
          border: none;

          & > div {
            padding: 0;

            &::before {
              left: 0;
            }

            strong {
              font-weight: 700;
            }

            em {
              font-style: italic;
            }
          }
        }
      }
    }
  }
}
