@import "/src/styles/variable";

.pointMain {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 176px 0 40px;

  .contSec {
    width: 785px;

    .thumbArea {
      display: flex;
      align-items: center;
      padding: 20px 24px;
      background: $Primary4;
      border-radius: 12px;

      .leftBox {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 6px;
        font-weight: 700;

        .key {
          color: $Black2;
        }

        .value {
          font-size: 24px;
          line-height: 34px;
          color: $Primary1;
        }
      }

      .rightBox {
        .chargeBtn {
          width: 164px;
          height: 48px;
          font-size: 14px;
          font-weight: 700;
          color: $White1;
          background: $Primary1;
          border-radius: 8px;
        }
      }
    }

    .contArea {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 40px 0 0 0;

      .categoryList {
        display: flex;
        gap: 28px;
        width: 100%;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 4px;
          height: 52px;
          border-bottom: 2px solid transparent;
          cursor: pointer;

          &.on {
            border-color: $Primary1;

            p {
              font-weight: 700;
              color: $Primary1;
            }
          }

          p {
            color: $Black2;
          }
        }
      }

      .dataList {
        width: 100%;
        min-height: 200px;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 26px 0;
          border-bottom: 1px solid #ededed;

          .leftBox {
            display: flex;
            align-items: center;
            gap: 20px;
            font-weight: 700;
          }

          .rightBox {
            display: flex;
            align-items: center;
            gap: 26px;

            .status {
              color: $Gray1;

              &.on {
                color: $Primary1;
              }
            }

            .amount {
              font-size: 18px;
              font-weight: 700;

              &.up {
                color: $Red1;
              }

              &.dn {
                color: $Primary1;
              }
            }
          }
        }
      }
    }
  }
}
