@import "/src/styles/variable";

.commonFooter {
  .innerSec {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 40px 0 60px;
    margin: 0 auto;
    border-top: 1px solid $Gray2;

    p,
    strong {
      font-size: 16px;
      line-height: 24px;
      color: $Black2;
    }

    strong {
      font-weight: 700;
    }

    .leftArea {
      .infoList {
        display: flex;
        flex-direction: column;
        gap: 12px;

        li {
          display: flex;
          align-items: center;

          hr {
            width: 1;
            height: 12px;
            margin: 0 12px;
            background: $Gray3;
          }
        }
      }

      .categoryList {
        display: flex;
        gap: 32px;
        margin: 32px 0 0;
      }
    }

    .rightArea {
      .btnBox {
        display: flex;
        gap: 12px;
        margin: 12px 0 0;

        button {
          display: flex;
          align-items: center;
          gap: 4px;
          height: 44px;
          padding: 0 10px;
          border: 1px solid $Gray3;
          border-radius: 12px;

          &.google {
            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
