@import "/src/styles/variable";

.commonHeader {
  background: $White1;
  border-bottom: 1px solid $Gray2;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 30;

  .innerSec {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .topArea {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;

      .leftCont {
        flex: 1;
        display: flex;
        align-items: center;
      }

      .rightCont {
        display: flex;
        align-items: center;
        gap: 12px;

        &.login {
          gap: 24px;
        }

        .writeBtn {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;
          height: 44px;
          padding: 0 12px;
          background: $Primary1;
          border-radius: 8px;

          p {
            font-size: 16px;
            font-weight: 700;
            color: $White1;
          }
        }

        .authBtn {
          height: 44px;
          padding: 0 12px;
          border: 1px solid $Primary1;
          border-radius: 8px;

          p {
            font-size: 16px;
            font-weight: 700;
            color: $Primary1;
          }
        }

        .utilBox {
          display: flex;
          align-items: center;
          gap: 24px;
        }
      }
    }

    .bottomArea {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;

      .leftCont {
        display: flex;
        align-items: center;
        gap: 60px;

        .categoryBtn {
          display: flex;
          align-items: center;
          gap: 8px;

          .valueBox {
            display: flex;
            align-items: center;
            gap: 4px;

            p {
              font-size: 16px;
              font-weight: 700;
              color: $PrimaryBG1;
            }
          }
        }

        .categoryList {
          display: flex;
          align-items: center;
          gap: 20px;

          li {
            padding: 0 4px;
            font-size: 16px;
            color: $Black2;
          }
        }
      }

      .rightCont {
        .banner {
          display: flex;
          align-items: center;
          height: 36px;
          padding: 0 12px;
          background: $Primary5;
          border-radius: 12px;

          p {
            font-size: 13px;
            line-height: 20px;
            color: $Black2;

            strong {
              font-weight: 700;
              color: $Primary1;
            }
          }
        }
      }
    }
  }
}
