@import "/src/styles/variable";

.container {
  display: flex;
  flex-direction: column;
  color: $Gray1;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    color: $Primary1;
    font-size: 14px;
    font-weight: 700px;
    margin-bottom: 4px;
  }
}
