@import "/src/styles/variable";

.reportPostPopup {
  display: flex;
  flex-direction: column;
  width: 590px;
  height: 800px;
  background: $White1;
  border: 1px solid $Primary4;
  box-shadow: 0px 4px 15px rgba(87, 139, 142, 0.06);
  border-radius: 20px;
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 60;
  transform: translate(-50%, -50%);

  .titleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
    padding: 0 28px;

    .title {
      font-size: 24px;
      font-weight: 700;
    }
  }

  .contArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 28px 40px;

    .topBar {
      display: flex;
      flex-direction: column;
      gap: 6px;
      height: 70px;

      .key {
        font-size: 18px;
        font-weight: 700;
      }

      .explain {
        color: $Gray1;
      }
    }

    .reportCont {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      form {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .scrollBox {
          flex: 1;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          position: relative;

          .categoryList {
            flex: 1;
            overflow-y: scroll;

            &::-webkit-scrollbar {
              width: 0;
            }

            li {
              display: flex;
              align-items: center;
              gap: 8px;
              height: 48px;
              cursor: pointer;

              &.on {
                svg {
                  &.onSvg {
                    display: block;
                  }

                  &.offSvg {
                    display: none;
                  }
                }
              }

              svg {
                &.onSvg {
                  display: none;
                }
              }

              p {
                font-size: 14px;
                color: $Black2;
              }
            }
          }

          .scrollBar {
            @include scrollBar;
          }
        }

        textarea {
          height: 98px;
          resize: none;
          padding: 12px 24px;
          background: #f5f5f5;
          border-radius: 8px;
        }

        .submitBtn {
          height: 52px;
          margin: 20px 0 0;
          background: $Primary1;
          border-radius: 10px;

          &:disabled {
            background: $Gray3;
          }

          p {
            font-weight: 700;
            color: $White1;
          }
        }
      }
    }
  }
}
