@import "../../../styles/colors.scss";
@import "../../../styles/variable.scss";

#mobileAuth {
  // .mAutoContentBox {
  //   position: absolute;
  //   top: 115px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   padding: 83px 101.5px 93px 101.5px;
  //   width: 588px;
  //   background: $White1;
  //   border: 1px solid $Primary4;
  //   box-shadow: 0px 4px 15px rgba(87, 139, 142, 0.06);
  //   border-radius: 20px;
  //   button {
  //     height: 52px;
  //   }
  // }
  .mAutoBox {
    // width: 383px;
    // margin: auto;
  }
  .title {
    font-size: 24px;
    font-family: pretendard;
    margin-bottom: 80px;
    font-weight: 700;
  }
  .blueText {
    color: $Primary1;
  }
  .section {
    display: flex;
    gap: 12px;
    align-items: baseline;
  }
  .inputLayout {
    width: 286px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid $Gray2;
    border-radius: 8px;
    &:last-of-type {
      width: 100%;
      margin-top: 16px;
    }
    input {
      line-height: 24px;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      font-family: pretendard;
    }
    input::placeholder {
      color: #d9d9d9;
      font-size: 16px;
    }
  }
  .timer {
    color: $Red1;
    white-space: nowrap;
  }
  .leftTimes {
    display: flex;
    align-items: center;
    margin-top: 7px;
    color: $Black2;
    font-size: 12px;
    svg {
      margin-right: 2px;
    }
  }
  form + button {
    margin-top: 174px;
    width: 100%;
    font-size: 16px;
  }
  .inputLayout + button {
    padding: 8px 12px;
    width: 86px;
    height: 48px;
  }
  .confirmBtn {
    width: 100%;
  }
}
