@import "../../../styles/colors.scss";
@import "../../../styles/variable.scss";

#mobileAuth {
  .title {
    font-size: 24px;
    font-family: pretendard;
    margin-bottom: 80px;
    font-weight: 700;
  }
  .blueText {
    color: $Primary1;
  }
  .section {
    display: flex;
    gap: 12px;
    align-items: baseline;
  }
  .inputLayout {
    width: 286px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid $Gray2;
    border-radius: 8px;
    &:last-of-type {
      width: 384px;
      margin-top: 16px;
    }
    input {
      line-height: 24px;
      width: 100%;
    }
    input::placeholder {
      color: #d9d9d9;
      font-size: 16px;
    }
  }
  .timer {
    color: $Red1;
  }
  .leftTimes {
    display: flex;
    align-items: center;
    margin-top: 7px;
    svg {
      margin-right: 2px;
    }
  }
  form + button {
    margin-top: 174px;
    width: 100%;
    font-size: 16px;
  }
  .inputLayout + button {
    padding: 8px 12px;
    width: 86px;
    height: 48px;
  }
  .confirmBtn {
    width: 100%;
  }
}
