@import "/src/styles/variable";
@import "/src/styles/colors.scss";

#hiddenUsers {
  padding: 200px 0 120px;
  background-color: $White1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .contentBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  //
  h2 {
    width: 792px;
    font-size: 32px;
    font-weight: 700;
  }
  .divisionLine {
    height: 1px;
    background-color: #f3f3f3;
    width: 792px;
    margin: 16px 0 8px;
  }
  li {
    width: 792px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .userProfile {
      display: flex;
      align-items: center;
      img {
        margin-right: 8px;
      }
      svg {
        margin-left: 4px;
        margin-bottom: 1px;
      }

      span {
        font-size: 14px;
        font-weight: 700;
        color: $Black2;
      }
    }
    button {
      border-radius: 12px;
      background-color: #f3f3f3;
      padding: 7px 12px;
      color: #9f9f9f;
      font-weight: 700;
      font-size: 14px;
    }
  }
  .boldText {
    font-weight: 700;
    color: $Black1;
    display: block;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 8px;
  }
}
